.form {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  border: 1px solid black;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}
label {
  text-align: center;
  margin-top: 15px;
}

.input {
  width: 70%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}
.add_btn {
  margin-top: 20px;
  text-align: center;
  margin-left: 9vw;
}
