#products {
  text-align: center;
}
#products .pro {
  width: 50%;
  min-width: 300px;
  padding: 10px 12px;
  border: 1px solid #dca68c;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  position: relative;
}

#products .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  padding-top: 20px;
}
#products .pro img {
  width: 100%;
  border-radius: 20px;
}
#products .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#products .pro .description {
  text-align: start;
  padding: 10px 0;
}
#products .pro .description span {
  color: #606063;
  font-size: 12px;
  text-decoration: none;
}
#products .pro .description p {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
