#shoes-products {
  text-align: center;
}
.shoes-pro {
  padding: 10px 12px;
  border: 1px solid #dca68c;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  position: relative;
  margin-left: 10%;
  height: 70vh;
}

.shoes-product-container {
  display: grid;
  grid-template-columns: repeat(3, 443px);

  /* grid-template-rows: repeat(2, 1fr); */
  /* justify-content: space-between; */
  /* padding-top: 20px; */
  /* position: relative; */
}

.shoes-description img {
  width: 100%;
  border-radius: 20px;
  height: 45vh;
}
.shoes-pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.shoes-pro .shoes-description {
  text-align: start;
  padding: 10px 0;
  text-align: center;
}
.shoes-pro .shoes-description span {
  color: #606063;
  font-size: 18px;
  text-decoration: none;
}
.shoes-pro .shoes-description p {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.shoes-pro h4 {
  padding: 7px;
  font-size: 16px;
  font-weight: 700;
  color: #660922;
}
